extends ../layout

block content
  h1 Login
  hr
  form(action='/user/login' method='POST')
    .form-group
      label(for='email') Username:
      input#username.form-control(type='text', placeholder='Enter username', name='username')
    .form-group
      label(for='pwd') Password:
      input#pwd.form-control(type='password', placeholder='Enter password', name='password')
    .checkbox
      label
        input(type='checkbox', name='remember')
        |  Remember me
    button.btn.btn-default(type='submit') Submit
