extends ../layout

block content
  h1 Register
  hr
  .container
    form(action='/user/register' method="POST")
      .form-group
        label(for='name') Name*:
        input#name.form-control(name='name' required)
      .form-group#uname
        label#usernameLabel(for='username') UserName*:
        input#username.form-control(name='username' onkeyup="checkAvail(this.value)" required)
        small.help-block#helpBlock
      .form-group
        label(for='email') Email address*:
        input#email.form-control(type='email' name='email' required)
      .form-group
        label(for='pwd') Password*:
        input#pwd.form-control(type='password' name='password' required)
      .form-group
        label(for='pwd2') Confirm Password*:
        input#pwd2.form-control(type='password' name='password2' required)
      .form-group  
        label(for='role') Role*:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        br
        .form-check.form-check-inline
          label.radio-inline
            input(type='radio' name="role" value="seller" required)
            | &nbsp;Seller
        .form-check.form-check-inline
          label.radio-inline
            input(type='radio' name="role" value="courier" required)
            | &nbsp;Courier
        .form-check.form-check-inline
          label.radio-inline
            input(type='radio' name="role" value="buyer" required)
            | &nbsp;Buyer
      .form-group
          input.btn.btn-default(type='submit' value="Register")
  pre * Required
  script.
    function checkAvail(val){
    if(val.length<=5){
    document.getElementById("username").classList.remove("is-valid")
    document.getElementById("usernameLabel").classList.remove("text-success")
    document.getElementById("helpBlock").classList.remove("text-success")
    document.getElementById("username").classList.add("is-invalid")
    document.getElementById("usernameLabel").classList.add("text-danger")
    document.getElementById("helpBlock").classList.add("text-danger")
    document.getElementById("helpBlock").innerText="Must Be Minimum 5"
    return
    }
    $.ajax( "/user/username?q="+val )
    .done(function(data) {
    if(data.exists){
    document.getElementById("username").classList.remove("is-valid")
    document.getElementById("usernameLabel").classList.remove("text-success")
    document.getElementById("helpBlock").classList.remove("text-success")
    document.getElementById("username").classList.add("is-invalid")
    document.getElementById("usernameLabel").classList.add("text-danger")
    document.getElementById("helpBlock").classList.add("text-danger")
    document.getElementById("helpBlock").innerText="Username Already Taken"
    }
    else{
    document.getElementById("username").classList.remove("is-invalid")
    document.getElementById("usernameLabel").classList.remove("text-danger")
    document.getElementById("helpBlock").classList.remove("text-danger")
    document.getElementById("username").classList.add("is-valid")
    document.getElementById("usernameLabel").classList.add("text-success")
    document.getElementById("helpBlock").classList.add("text-success")
    document.getElementById("helpBlock").innerText="Username Availaible"
    }
    })
    }