extends ../layout

block content
  h1 Orders
  hr
  if results.length == 0
    h4 No Orders Found
  else
    for order in results
      form(method='POST' action='/order/deliver/'+order._id)
        a.list-group-item.list-group-item-action.flex-column.align-items-start(href="/product/view/"+order.id)
          .d-flex.w-100.justify-content-between
            img(src='/'+order.id+"/image.jpg" height='64' border='1')
            h5.mb-1= order.product
            small= order.user
          p.mb-1= order.status+" At "+order.description
          if order.status!=='Delivered'
            if typeof user !== 'undefined'
              if user.role === 'courier'
                .form-group
                    input.btn.btn-success(type='submit' value="Delivered Order")