extends ../layout

block content
  h1 Product Description
  hr
  each product in result
    img(src='/'+product._id+"/image.jpg" height='256' border='1')
    each value, params in product
      if params !== '_id'
        p
          b= params.charAt(0).toUpperCase()+params.slice(1)+' : '
          i= value
    form(method='POST' action='/order/create/'+product._id)
      if typeof user !== 'undefined'
        if user.role === 'buyer'
          .form-group
            if product.stock===0
              input.btn.btn-danger(type='submit' value="Out Of Stock")
            else
              input.btn.btn-primary(type='submit' value="Create Order")
